@import "parciales/variables";
@import "parciales/reset";
@import "parciales/header";
@import "parciales/section";
@import "parciales/footer";
@import "parciales/responsive";
@import "parciales/seccionesContacto";
@import "parciales/seccionesNosotros";
@import "parciales/seccionesServicio";
@import "parciales/sectionDos";
@import "parciales/body";
@import "parciales/acordion.scss";
