@import "./reset";
@import "./variables";
@import "./responsive";

/*----- ANIDACION O NESTING Y USO DE &------*/
:root {
  --celeste-frio: #7ec8e3;
  --celeste-hover: #5fb6d6;
  --gris-oscuro: #2f3a40;
  --gris-texto: #334155;
  --fondo-header: rgba(255, 255, 255, 0.75);
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  background: linear-gradient(135deg, #0f2027, #203a43);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: #ecf0f1;
}

/* CONTENEDOR NAV */
.nav {
  max-width: 1200px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-weight: 700;
  color: white;
  font-weight: 700;
}

.logo img {
  width: 45px;
  border-radius: 8px;
}

/* MENU */
.menu {
  display: flex;
  gap: 35px;
}

.menu a {
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: 600;
  letter-spacing: 0.3px;
  transition: color 0.25s ease;
}

/* línea moderna */
.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: var(--celeste-frio);
  transition: width 0.3s ease;
}

.menu a:hover {
  color: var(--celeste-frio);
}

.menu a:hover::after {
  width: 100%;
}

/* BOTÓN WHATSAPP */
.btn-wsp {
  text-decoration: none; /* saca subrayado */
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 8px 18px;
  border-radius: 8px;

  background: #e2e8f0; /* gris claro elegante */
  color: #1e293b; /* gris oscuro */
  border: 1px solid #cbd5e1;

  font-weight: 600;
  font-size: 14px;

  transition: all 0.25s ease;
}

.btn-wsp:hover {
  background: #cbd5e1;
  border-color: #94a3b8;
  transform: translateY(-1px);
}

/* PORTADA */
.container-portada {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* MOBILE */
.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .menu {
    position: fixed;
    top: 80px;
    right: -100%;
    width: 260px;
    height: 100vh;
    flex-direction: column;
    padding: 30px;
    transition: right 0.3s ease;
  }

  .menu.active {
    right: 0;
  }

  .menu-toggle {
    display: block;
  }

  .btn-wsp {
    display: none;
  }
}
