$color: lightblue;

$background: -moz-linear-gradient(
  -45deg,
  #b3dced 0%,
  #b3dced 27%,
  #29b8e5 50%,
  #b3dced 70%,
  #bce0ee 100%
);

$colornf: #f2f3f4;

$colorhover: lightgray;

$contactoDerechos: black;

$textsizecontacto: 7px;

$textfont: monospace;

$textsizetitulo: 30px;
